<%= form_with(model: avenger) do |form| %>
  <% if avenger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(avenger.errors.count, "error") %> prohibited this avenger from being saved:</h2>
      <ul>
        <% avenger.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%# label hero name is not display by removing the = sign%>
  <div class="field mb-3">
    <% form.label :hero_name %>
    <%= form.text_field :hero_name, class:"form-control",placeholder:"Hero name" %>
  </div>
  <div class="field mb-3">
    <%= form.text_field :real_name, class:"form-control", placeholder:"Real name"%>
  </div>
  <div class="field mb-3">
    <%= form.text_field :age, class:"form-control",placeholder:"Age" %>
  </div>
  <div class="field mb-3 ">
    <%= form.text_area :description, class:"form-control",placeholder:"Description", rows:"5" %>
  </div>
  <div class="field mb-3">
    <%= form.text_field :statut, class:"form-control",placeholder:"Statut" %>
  </div>
</br>
<div class="actions">
  <%= form.submit class:"btn btn-secondary" %>
</div>
<% end %>
